<div class="container-fluid">
    <div class="row heading">
        <div class="col-xs-12">
            <h1>{{ moments.heading }}</h1>
            <p>{{ moments.sub_heading }}</p>
        </div>
    </div>
    <div class="row moments-content">
        <div class="button-container">
            <button class="btn btn-default" ng-class="$index === 0 ? 'moments-active-btn' : ''" ng-click="selectMomentsPhotoType($index);" ng-repeat="btn in buttons">{{ btn }}</button>
        </div>
        <div id="moments-image-carousel" class="carousel slide" data-interval="8000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item" ng-repeat="photo in album" ng-class="{'active' : $index === 0}">
                    <div class="row">
                        <div class="image-container">
                            <img ng-src="{{ imageFolder + photo }}" class="img-responsive" alt="photo" />
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#moments-image-carousel" role="button" data-slide="prev">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#moments-image-carousel" role="button" data-slide="next">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
